<footer class="bg-dark text-center p-4">
  
    <p class="h4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, deserunt sunt ipsa ut nesciunt, vero ducimus exercitationem iure numquam aut quaerat. Delectus itaque dolorum, numquam dolores aliquid ad modi quis?</p>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>